NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dG91Y2hlZC1ob25leWJlZS02My5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_OTJBVhNowV37Pr6KR1xN65w8X4ULKcKerIIramTF10
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_OUT_URL=/
GEMINI_API_KEY="your gemini key"
DATABASE_URL="your db url"
NEXT_PUBLIC_APP_URL=http://localhost:3000

HIVE_API_KEY="your hive AI key"